<div class="layers-parent-container-container">

  <div class="layers-parent-container">
    <draggable id="layers-container" :list="layers"  @sort="onSort" :options="{handle: '.handle'}">
          <div class="layer-container" :class="{highlighted: item.highlight}" v-for="(item, index) in layers" >
              <div class="layers-layer-left-contain handle">
                <div class="layers-layer-number">{{layers.indexOf(item)}}</div>
                <div class="blah">
                  <ul class="layers-layer-vrect-container">
                    <li class="v-rect"></li>
                    <li class="v-rect"></li>
                    <li class="v-rect"></li>
                    <li class="v-rect"></li>
                    <li class="v-rect"></li>
                    <li class="v-rect"></li>
                    <li class="v-rect"></li>
                  </ul>
                </div>
              <div class="layers-layer-number" style="visibility:hidden;"><span>9</span></div>
            </div>

            <div class="layer-controls" @click.self="setLayerHighlight(item, true)">
                <div class="layer-img-contain">
                  <img class="layer-img-display" :src="item.url" />
                </div>

                <div class="layer-showhide" @click="" :class="{'layer-visible': item.visible, 'layer-invisible': !item.visible}" @click="showHideLayer(item)">
                  <i class="fa fa-eye visible-show" v-show="item.visible === true" aria-hidden="true"></i>
                  <i class="fa fa-eye-slash visible-hidden" v-show="item.visible === false" aria-hidden="true"></i>
                </div>
                <div class="layer-delete" @click="removeLayer(item)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
            </div>
          </div>
      </draggable>
  </div>
<select v-model="selected">
  <option>Dither</option>
  <option>Dither Serpentine</option>
  <option>Just Quantize</option>
</select>
  <div class="layer-options">
    <range-slider
    class="slider"
    min="-255"
    max="255"
    step="10"
    v-model="brightnessValue">
  </range-slider>
    <range-slider
    class="slider"
    min="-255"
    max="255"
    step="10"
    v-model="contrastValue">
  </range-slider>
    <range-slider
    class="slider"
    min="-255"
    max="255"
    step="10"
    v-model="whiteValueThres">
  </range-slider>
    <range-slider
    class="slider"
    min="-255"
    max="255"
    step="10"
    v-model="whiteValueDist">
  </range-slider>
  </div>

</div>